body {
  background: #f2d0d1;
}

.produto-card{
  background-color: #FFFF;
  
  display: inline-block;
  width: 290px;
  height: 350px;
  padding: 5px;
  margin: 20px;
  overflow: hidden;
}

.rosa{
  color: #A90623;
  font-family: Atma, cursive;
}

.produtos-p{
  color: #A90623;
  font-family: Atma, cursive;
}

.produtos-lista{
  color: #A90623;
  font-family: Atma, cursive;
}
